rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // allow anyone to read the public puzzle list
    match /puzzles/{puzzleId} {
      allow read;
      // only authenticated users may create or update their own puzzles
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.createdBy;
    }
  }
}
